# Unity
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb
*.mdb.meta
*.mp4

# Visual Studio Code
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
